html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

#container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.button-group {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	padding: 10px;
}

.button-group .button {
	height: 28px;
	line-height: 28px;
	background-color: #0D9BF2;
	color: #FFF;
	border: 0;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}
.button-group .inputtext {
	height: 26px;
	line-height: 26px;
	border: 1px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}
 /*
.tip {
	position: absolute;
	bottom: 30px;
	right: 10px;
	background-color: #FFF;
	text-align: center;
	border: 1px solid #ccc;
	line-height: 30px;
	border-radius: 3px;
	padding: 0 5px;
	font-size: 12px;
}
*/
#tip {
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	font-size: 12px;
	right: 10px;
	top: 20px;
	border-radius: 3px;
	border: 1px solid #ccc;
	line-height: 30px;
}

/*
#tip input[type='button'] {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #0D9BF2;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	outline: none;
	border: 0;
}
*/
.amap-info-content {
	font-size: 12px;
}

#myPageTop {
	position: absolute;
	top: 5px;
	right: 10px;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding:6px;
	font-family: "Microsoft Yahei", "微软雅黑", "Pinghei";
	font-size: 14px;
}
#myPageTop label {
	margin: 0 20px 0 0;
	color: #666666;
	font-weight: normal;
}
#myPageTop input {
	width: 170px;
}
#myPageTop .column2{
	padding-left: 25px;
}
.form-control-static{
	overflow:hidden;list-style:none;
}
#main-page{
	border:1px solid #E5E5E5;
}
.page-content{
	min-height:867px!important;
}
.caption{
	font-weight:400;
}
.portlet.box.grey > .portlet-title{
    background-color: #fff!important;
}
#container{
	width: 98%;
    margin: 0 18px;
    height: 670px;
    overflow-y: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chooseCondition{
	background-color:#36c7d3;
	padding: 6px 12px;
}
.portlet.box>.portlet-title>.caption{
	padding: 16px 0 0 12px;
}
.portlet-empty{
	display:none;
}
.portlet.box.grey{
	border:0!important;
}
.portlet>.portlet-title{
	border-bottom:1px solid #e5e5e5!important;
}
.btn-bottom{
	padding-bottom: 10px;
	padding-top: 10px;
    margin: 0px -15px 0 -15px;
    border-bottom: 1px solid #e5e5e5;
}
.form-group-content{
	border-bottom:1px solid #e5e5e5!important;
	padding-bottom: 10px;
}
#filter{
	margin-left:25px;
}
.chooseCondition:hover{
	cursor: pointer;
}
.label-title{
	width:100px;
}
.form-group{
	margin-bottom:0px!important;
	margin-left: 15px;
}

.portlet{
	margin-bottom:0!important;
}
.form-control-static li{
	width: 115px;
    float: left;
    font-size: 12px;
}
.form-control-static{
	padding-left:0;
	height:auto;
	line-height: 30px;
}
label{
	margin-bottom:0;
}
.icheckAll{
	opacity: 0;
}
.amap-maptype-list{
	display:none!important;
}
.amap-maptypecontrol {
    bottom: 85px!important;
    right: 7px!important;
    top: inherit!important;
}
.amap-toolbar {
    bottom: 95px!important;
}
.amap-info-content{
	background: rgba(25, 37, 46, 0.8) !important;
    border: 1px solid #333!important;
    padding: 10px 18px 10px 10px;
    line-height: 1.4;
    overflow: auto;
    color: #fff!important;
}
.amap-info-close:hover{
	color:#fff;
}
.amap-info{
	display:none;
}
input[type=checkbox], input[type=radio]{
	margin:0!important;
}
div[class*=icheckbox_], div[class*=iradio_]{
	margin-right:0!important;
}
.btitle{
	float:left;
	margin-top:11px;
}
.caption{
	font-size: 16px!important;
    font-weight: bold;
}
.portlet.box>.portlet-body{
	padding:10px;
}
.amap-info-content p{
	margin:5px 0;
}
.amap-info-content hr{
	margin: 10px 0;
    border-top: 1px solid #5d5c5b;
}
.amap-marker-content div{
	color:#fff!important;
}