.content-echarts{
	border:1px solid #e7ecf1;
	height:200px;
}
.main-page{
	margin-left:-30px;
}
.page-content {
    min-height:1680px!important;
}
.portlet.box.grey > .portlet-title > .caption{
	color:#36c6d3!important;
}
.portlet.box.grey > .portlet-title{
	border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background-color: #fff!important;
}
.portlet.box > .portlet-title > .tools > a.collapse{
	    background-image: url(../img/portlet-collapse-icon-down.png)!important;
	    background:no-repeat;
}
.portlet.box > .portlet-title > .caption{
	    padding: 18px 0 9px 0!important;
}
.portlet > .portlet-title > .tools > a.collapse{
	width:32px!important;
}
.portlet > .portlet-title > .tools > a{
	height:32px!important;
}
.portlet.box > .portlet-title > .tools > a.expand, .portlet.solid > .portlet-title > .tools > a.expand{
	background-image: url(../img/portlet-collapse-icon-up.png)!important;
	background:6px no-repeat;
}
.portlet > .portlet-title > .tools > a.expand{
	width:32px!important;
}
#main-echarts1,#main-echarts2,#main-echarts3,#main-echarts4{
	height:280px;
}
#main-echarts5{
	height:350px;
}
.portlet.box.grey{
	border: 1px solid #E5E5E5!important;
}