/* here you can put your own css to customize and override the theme */
.scroller {
    padding: 0;
    background: #fff;
    overflow-y: auto !important;
}

.coop_list {
    position: absolute;
    z-index: 999;
    top: 90px;
    left: 10px;
    width: 396px;
    height: 600px;
    display: none;
}

.search_result {
    width: 396px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #009dc7;
    margin-bottom: 5px;
    background-color: #fff;
    padding-left: 15px;
    overflow: hidden;
}

.search_result .backback{
    float: right;
    margin-right: 15px;
}

.slimScrollDiv {
    background-color: #fff;;
}

.coop_list ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
}

.coop_list ul > li {
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}

.coop_list ul > li:hover {
    background: #eee;
}

.coop_list ul > li > i {
    position: absolute;
    z-index: 11;
    top: 12px;
    left: 20px;
    display: block;
    width: 18px;
    height: 28px;
    background: url("../img/red_point.png") no-repeat;
    color: #fff;
    line-height: 19px;
    text-align: center;
    font-style: normal;
}

.coop_list ul > li.cur > i {
    background: url("../img/blue_point.png") no-repeat;
}

.coop_list ul li.cur {
    background: #eee;
}

.coop_list ul li .tit {
    color: #009dc7;
    margin-left: 45px;
    font-size: 14px
}

.coop_list ul li .contont {
    color: #555;
    margin-left: 45px;
    font-size: 12px;
}

.hide_con {
    width: 260px;
    border-top: 1px solid #e5e3e3;
    margin-left: 45px;
    display: none;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.hide_con ol {
    list-style: none;
    padding-left: 0px;
}

.hide_con ol li span {
    margin-left: 10px;
}

.address_list {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 3px !important;
    font-size: 14px;
}

.address_list .add_name {
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
}

.address_list ul {
    list-style: none;
    overflow: hidden;
    width: 210px;
    padding: 0;
    position: relative;
    left: -6px;
}

.address_list ul li {
    float: left;
    width: 70px;
    line-height: 30px;
}

.address_list ul li strong{
    display: block;
    font-size: 14px;
}

.address_list ul li a {
    color: #555555;
    text-align: center;
    font-size: 12px;
}

.address_list ul li a:hover {
    color: #009dc7;
    text-decoration: none;
}

.coop_detail {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 320px;
}

.coop_detail .search_result{
    cursor: pointer;
}

.detail_main {
}

.coopdetail_top {
    position: relative;
    height: 90px;
    padding: 0 15px 0px 15px;
    font-size: 14px;
}

.coopdetail_top ul {
    list-style: none;
}

.coopdetail_top ul li {
    margin-top: 5px;
}

.top_headimg {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 20px;
}

.detail_nav {
    overflow: hidden;
    list-style: none;
    margin: 12px auto 0 auto;
    width: 162px;
    border-radius: 15px !important;
    border: 1px solid #009dc7;
    padding: 0;
}

.detail_nav li {
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.detail_nav li.cur {
    background-color: #009dc7;
}

.detail_nav li.cur a {
    color: #fff;
    text-decoration: none;
}

.detail_nav li a {
    color: #009dc7;
}

.detail_nav li a:hover {
    text-decoration: none;
}

.detail_base h5 {
    border-left: 2px solid #555;
    padding-left: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 15px;
}

.detail_base ul {
    list-style: none;
    padding-left: 20px;
}

.detail_base ul li {
    overflow: hidden;
    line-height: 23px;
    font-size: 14px;
}

.detail_base ul div {
    float: left;
    width: 120px;
}

.detail_base ul span {
    float: left;
}

.iw_poi_title {
    line-height: 30px;
}

.map_detail ol {
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid #eee;
    line-height: 22px;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 5px;
}

.map_detail ol li span {
    margin-left: 10px;
}

/*2017.6.26*/
.olPopupContent {
    overflow: visible !important;
    padding: 0 !important;
}

.olPopup {
    display: inline-block;
    z-index: 1005 !important;
}

.olwidgetPopupContent {
    background: #fff;
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.35);
    overflow: auto;
    padding: 24px 15px 20px 15px;
    font-size: 12px;
}

.olwidgetPopupContent ul li,.olwidgetPopupContent h4,.olwidgetPopupContent p{
    line-height: 18px;
    margin-bottom: 5px;
}

.olwidgetPopupCloseBox {
    position: absolute;
    cursor: pointer;
    width: 14px;
    height: 14px;
    right: 10px;
    top: 10px;
    text-indent: 100px;
    background: url("../img/closed.png") no-repeat;
    overflow: hidden;
}

.olwidgetPopupStemTL, .olwidgetPopupStemTR {
    display: none;
}

.olwidgetPopupStemBL, .olwidgetPopupStemBR {
    display: none;
}

.arrow-bottom{
    position: absolute;
    bottom: -10px;
    left: 27px;
    display: block;
    width: 20px;
    height: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    z-index: 1;
}


.mapop h4{
    font-weight: bold;
    font-size: 14px;
}

.mapop .code{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.app-page{
    overflow: hidden;
    padding:20px 0 20px 20px;
}

.app-page .page-total{
    float: left;
    line-height: 31px;
}

.app-page .pagination{
    display: block;
    float: none;
    margin-top: 0;
    clear: both;
}

.mark_tscl{
	z-index:9999
}