<style type="text/css">
    html{height:100%}
    body{height:100%;margin:0px;padding:0px}
    #controller{width:100%; border-bottom:3px outset; height:30px; filter:alpha(Opacity=100); -moz-opacity:1; opacity:1;
        z-index:10000; background-color:lightblue;}
    #container{height:100%}
</style>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div>
            <div class="new-bread">
                <p><a href="javascript:;">车辆定位</a><i class="deliver"></i><a href="init">历史轨迹</a></p>
            </div>
            <div class="list-search">
                <div class="list-search_item" style="width: 25%;">
                    <div class="input-group">
                        <span class="input-group-addon list-search_label">设备号</span>
                        <input type="text" class="form-control list-search_input" id="deviceCode" name="deviceCode"/>
                    </div>
                </div>
                <div class="list-search_item" style="width: 25%;">
                    <div class="input-group">
                        <span class="input-group-addon list-search_label">开始时间</span>
                        <div class="input-icon right">
                            <i class="fa fa-calendar"></i>
                            <input name="startTime" id="startTime" type="text" size="16" class="form-control form_datetime list-search_input list-search_inputpadding" value="" />
                        </div>
                    </div>
                </div>
                <div class="list-search_item" style="width: 25%;">
                    <div class="input-group">
                        <span class="input-group-addon list-search_label">结束时间</span>
                        <div class="input-icon right">
                            <i class="fa fa-calendar"></i>
                            <input name="endTime" id="endTime" type="text" size="16" class="form-control form_datetime list-search_input list-search_inputpadding" value="" />
                        </div>
                    </div>
                </div>
                <div class="list-search_item list-search_searchbtn" style="width: 5%;margin-right: 0;">
                    <a  class="toggleDiv dropdown-toggle list-button green-btn" id="trailSearch" >查询</a>
                </div>
            </div>
            <div id="map-content-baidu"></div>
        </div>
    </div>
</div>

<script src="pages/scripts/baidu.js" type="text/javascript"></script>