<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>基础服务平台</title>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #controller{width:100%; border-bottom:3px outset; height:30px; filter:alpha(Opacity=100); -moz-opacity:1; opacity:1;
            z-index:10000; background-color:lightblue;}
        #container{height:100%}
    </style>
    <link th:href="@{global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet"  />
    <link th:href="@{global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/bootstrap-toastr/toastr.min.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}" rel="stylesheet" />
    <!--<link th:href="@{global/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet" />-->
    <!--<link th:href="@{global/plugins/datatables/datatables.min.css}" rel="stylesheet" />-->
    <!--<link th:href="@{global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{global/plugins/select2/css/select2.min.css}" rel="stylesheet" />-->
    <!--<link th:href="@{global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet"  />-->
    <link th:href="@{global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <!--<link th:href="@{global/plugins/icheck/skins/all.css}" rel="stylesheet" />-->
    <link th:href="@{global/plugins/bootstrap-fileinput/css/fileinput.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/ol4/ol.css}" rel="stylesheet"/>
    <link th:href="@{global/css/components.min.css}" rel="stylesheet" id="style_components" />
    <link th:href="@{global/css/plugins.css}" rel="stylesheet"/>
    <link th:href="@{pages/css/error.min.css}" rel="stylesheet"/>
    <!-- 分组插件样式 -->
    <link th:href="@{global/css/org_common.css}" rel="stylesheet" />
    <link th:href="@{global/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{global/plugins/webuploader/webuploader.css}"/>
    <link th:href="@{layouts/layout5/css/layout.min.css}" rel="stylesheet"  />
    <link th:href="@{layouts/layout5/css/custom.min.css}" rel="stylesheet"  />
    <link th:href="@{layouts/layout5/css/newui.css}" rel="stylesheet" />
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="layouts/amap/info_form.css"/>
    <!-- END THEME LAYOUT STYLES -->
    <!--<link rel="shortcut icon" th:href="@{pages/img/favicon.ico}"/>-->
</head>

<!--<script th:src="@{/js/welcome.js}"></script>-->
<!--<script th:src="@{/boot/jquery-3.2.1.min.js}"></script>-->
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.1&amp;key=04eeb6c5dc64dc1b3f59456a326cd23b"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=D2b4558ebed15e52558c6a766c35ee73"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<!--<body>-->
<!--<div id="top">aaa<button id="trails" name="显示轨迹" onclick="getTrails()"></button> </div>-->

<!--<div><div id="container" style="width:500px; height:300px; margin-left: auto"></div></div>-->
<!--</body>-->

<body class="page-header-fixed page-sidebar-closed-hide-logo">
<div class="all-wrapper">
    <div class="headtop">
        <div>基础服务平台</div>
    </div>

    <div class="container-fluid">
        <div style="overflow: hidden">
            <div class="left-side-bar">
                <!--<div class="ham">-->
                <!--<span></span>-->
                <!--</div>-->
                <ul class="left-bar_menu">
                    <li class="toplink">
                        <a href="javascript:void(0)" class="text-uppercase toplevel locatenav"><i class="icon-pointer"></i><span>车辆定位</span></a>
                        <ul class="left-bar_submenu locatemenu">
                            <li>
                                <a href="javascript:void(0)" class="nav-link" id="position">实时位置</a>
                            </li>
                            <li>
                            <a href="javascript:void(0)" id="trail">历史轨迹</a>
                        </li>
                            <li>
                                <a href="javascript:void(0)" id="baiduMap">历史轨迹-百度</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="main-content" class="normal-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div>
                            <div class="new-bread">
                                <p><a href="javascript:;">车辆定位</a><i class="deliver"></i><a id="tabName" href="javascript:void(0)">实时位置</a></p>
                            </div>
                            <div class="list-search">
                                <div class="list-search_item" style="width: 25%;">
                                    <div class="input-group">
                                        <span class="input-group-addon list-search_label">设备号</span>
                                        <input type="text" class="form-control list-search_input" id="deviceCode" name="deviceCode"/>
                                    </div>
                                </div>
                                <div id="beginTime" class="list-search_item" style="width: 25%;">
                                    <div class="input-group">
                                        <span class="input-group-addon list-search_label">开始时间</span>
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar"></i>
                                            <input name="startTime" id="startTime" type="text" size="16" class="form-control form_datetime list-search_input list-search_inputpadding" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div id="finishTime" class="list-search_item" style="width: 25%;">
                                    <div class="input-group">
                                        <span class="input-group-addon list-search_label">结束时间</span>
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar"></i>
                                            <input name="endTime" id="endTime" type="text" size="16" class="form-control form_datetime list-search_input list-search_inputpadding" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="list-search_item list-search_searchbtn" style="width: 5%;margin-right: 0;">
                                    <a  class="toggleDiv dropdown-toggle list-button green-btn" id="positionSearch" >查询</a>
                                </div>
                                <div class="list-search_item list-search_searchbtn" style="width: 5%;margin-right: 0;">
                                    <a  class="toggleDiv dropdown-toggle list-button green-btn" id="trailSearch" >查询</a>
                                </div>
                                <div class="list-search_item list-search_searchbtn" style="width: 5%;margin-right: 0;">
                                    <a  class="toggleDiv dropdown-toggle list-button green-btn" id="baiduTrailSearch" >查询</a>
                                </div>
                            </div>
                            <div id="map-content"></div>
                            <div id="map-content-baidu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            Copyright  &copy; 浙大正呈科技有限公司  All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <a href="#index" class="go2top">
            <i class="icon-arrow-up"></i>
        </a>
    </div>

</div>
<script src="global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--<script src="global/plugins/js.cookie.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/jquery.blockui.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/jquery.base64.js" type="text/javascript"></script>-->
<script src="global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
<script src="global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<!--<script src="global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/moment.min.js" type="text/javascript"></script>-->
<!--<script src="global/scripts/datatable.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/datatables/datatables.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>-->

<script src="global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="global/plugins/jquery.form.js" type="text/javascript"></script>
<!--<script src="global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/select2/js/i18n/zh-CN.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/sha256.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>-->
<script src="global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript" ></script>
<script src="global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" ></script>
<!--<script src="global/plugins/maps/OpenLayers.js" type="text/javascript"></script>-->
<script src="global/plugins/ol4/ol.js"></script>
<!--<script src="global/plugins/webuploader/webuploader.min.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/placeholderfixer.js" type="text/javascript"></script>-->
<!--<script src="global/plugins/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>-->
<!-- 主题全局script  -->
<script src="global/scripts/app.js" type="text/javascript"></script>
<!-- 主题布局script  -->
<script src="layouts/layout5/scripts/layout.js" type="text/javascript"></script>
<!-- 分组插件JS  -->
<script src="pages/scripts/setting.js" type="text/javascript"></script>
<script src="pages/scripts/main.js" type="text/javascript"></script>
<script src="pages/scripts/welcome.js" type="text/javascript"></script>
</body>
</html>